footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    margin-top: 6.8rem;
}

span {
    background-color: white;
    color: black;
    padding: 6px;
    border-radius: 10px;
}

span:hover {
    background-color: rgb(133, 133, 133);
    color: white;
}